<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Vortexgin File Manager</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <h1>FOS CKEditor Gallery Picker</h1>
            <ul class="list-group">
                {% for dir,path in dirs %}
                    <li class="list-group-item">
                        <a href="javascript: scandir('{{ path }}');">{{ dir }}</a>
                    </li>
                {% endfor %}
                {% for file,path in files %}
                    <li class="list-group-item">
                        <a href="javascript: pick('{{ path }}');">{{ file }}</a>
                        <div class="pull-right">
                            <a href="javascript: download('{{ path }}');" class="small">Download</a> | 
                            <a href="javascript: remove('{{ path }}');" class="small">Remove</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <hr />
            <div class="col col-xs-12">
                <form>
                    <div class="form-group">
                        <label for="choose_file" style="margin-bottom: 15px;">Add new file</label>
                        <div class="clearfix"></div>
                        <div class="col col-xs-8">
                            <input type="hidden" name="prefix" />
                            <input type="hidden" name="raw" />
                            <input type="file" name="choose_file" id="choose_file" class="col col-xs-12" accept="image/*" />
                        </div>
                        <div class="col col-xs-4">
                            <button id="upload" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://minerva.dailysocial.id/bundles/vortexgincore/js/general.js"></script>
        <script src="https://minerva.dailysocial.id/bundles/vortexgincore/js/object.js"></script>
        <script src="https://minerva.dailysocial.id/bundles/vortexgincore/js/url.js"></script>
        <script src="https://minerva.dailysocial.id/bundles/vortexgincore/js/base64.js"></script>
        <script src="https://minerva.dailysocial.id/bundles/vortexgincore/js/bridge.js"></script>
        <script language="javascript">
            function structure(structure){
                html = '';
                Object.keys(structure.dirs).forEach(function(key){
                    if (key == '..') {
                        $('input[name=prefix]').val(key.replace('..', ''));
                    }
                    html += '<li class="list-group-item">';
                        html += '<a href="javascript: scandir(\''+ structure.dirs[key] +'\');">'+ key +'</a>';
                    html += '</li>';
                });
                Object.keys(structure.files).forEach(function(key){
                    html += '<li class="list-group-item">';
                        html += '<a href="javascript: pick(\''+ structure.files[key] +'\');">'+ key +'</a>';
                        html += '<div class="pull-right">';
                            html += '<a href="javascript: download(\''+ structure.files[key] +'\');"" class="small">Download</a> | ';
                            html += '<a href="javascript: remove(\''+ structure.files[key] +'\');"" class="small">Remove</a>';
                        html += '</div>';
                    html += '</li>';
                });
                $('ul').html(html);
            }
            function scandir(path){
                Bridge.requestAction('{{ path('vortexgin_filebrowser_api_browse') }}', 'GET', {
                        prefix: path
                    }, {
                        onSuccess: function(data, textStatus, jqXHR) {
                            structure(data);
                            return;
                        }
                    }
                );
            }
            function pick(path){
                $("div[name=info]", window.opener.document).find('input:first').val('{{ vortexgin_file_browser_dir }}'+ path);
                window.close();
            }
            function download(path){
                window.open('{{ path('vortexgin_filebrowser_api_download') }}?file='+ path);
            }
            function remove(path){
                Bridge.requestAction('{{ path('vortexgin_filebrowser_api_remove') }}', 'GET', {
                        file: path
                    }, {
                        onSuccess: function(data, textStatus, jqXHR) {
                            structure(data);
                            return;
                        }
                    }
                );
            }
            $(document).ready(function(){
                $('input[name=choose_file]').change(function(){
                    Base64.convertFile(document.getElementsByName("choose_file")[0], 'input[name=raw]');
                });
                $('button#upload').click(function(event){
                    event.preventDefault();
                    Bridge.requestAction('{{ path('vortexgin_filebrowser_api_upload') }}', 'POST', {
                        prefix: $('input[name=prefix]').val(), 
                        filename: $('input[name=choose_file]').val().split('\\')[$('input[name=choose_file]').val().split('\\').length - 1], 
                        raw: $('input[name=raw]').val()
                    }, {
                        onSuccess: function(data, textStatus, jqXHR) {
                            structure(data);
                            return;
                        }
                    });
                });
            });
        </script>
    </body>
</html>